.popup_subscribe .modal-dialog {
    max-width:95%;
    width:100%;
    z-index: 199049;
}
#popgif>div {
    position: relative;
}
.popup_subscribe.modal:before {
    height:100%;
}
.popup_subscribe .modal-content {
  display:table-cell;
  background: #EFBDB7;
  color: #fff;
  text-align: center;
  width: 688px;
  background: #EFBDB7;
  background: linear-gradient(232deg, #d88379, #8da4d0, #EFBDB7);
  background-size: 600% 600%;
  -webkit-animation: colourFade 16s ease infinite;
  animation: colourFade 16s ease infinite;
}
@-webkit-keyframes colourFade {
  0% {
    background-position: 0 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0 76%;
  }
}
@keyframes colourFade {
  0% {
    background-position: 0 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0 76%;
  }
}
.popup_subscribe button.close {
    top: -1em;
    right: -2.2em;
    color: #fff;
    position: absolute;
    transition:.4s;
}
.popup_subscribe button.close:hover {
    top: -2em;
    right: -4em;
}
.popup_subscribe .icon-close:before {content:'\e920'}
.popup-default-content.fadeindownpop {animation: fadeInDown 0.4s ease-in both;visibility: visible!important;background: none;}
.popup_subscribe .popup-default-content {padding: 4em 2.5em 4em;}
.popup-default .modal-content >div {
    background:transparent;
    box-shadow:none;
}
.style01, .style03 {text-transform: uppercase;font-weight: 300;font-size: 1.9em;text-align: left;line-height: 1.3em;letter-spacing: .18em;text-indent: .2em;margin: 1.1125rem 0 0;position: relative;}
.style02 {font-size: .875rem;margin-top: .7em;color: rgba(255,255,255,.8);}
.wf-active .style01 { font-family: Montserrat, 'Microsoft JhengHei' }
.style03 {
    /* font-size:1.5em; */
    /* margin-top: 2rem; */
    font-size: 1.8em;
    position: absolute;
    top: -.7em;
    /* background: #efbdb7; */
    padding: 2em 0 2em;
    width: 100%;
    opacity: 0;
    text-align: center;
    line-height: 2em;
}
.email-header {position:relative;}
.style04 {
  position:absolute;
  top:0;
  left:50%;
  margin-left:-40px;
  /* background: #efbdb7; */
  font-size:.875rem;
  width:80px;
  opacity:0;
}
span.icon-ticket-frame {
    position: relative;
    margin: 0 .9em;
    /* font-size:.8em; */
    font-family:arial;
    letter-spacing:0;
}
span.icon-ticket-frame:before {
    position:absolute;
    top: -.16em;
    left: -.35em;
    font-size: 1.9em;
    color:rgba(255,255,255,.5);
}
.style03 span.icon-ticket-frame {
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight:300;
}
.style03 span.icon-ticket-frame>span {
    font-size: .6em;
    position: relative;
    top: -.1em;
    left: -.1em;
}
.style03 .icon-arrow3-left {
    font-size: .8125rem;
    position: relative;
    top: -.2em;
}
.style03 span.icon-ticket-frame:before {
    color:#fff;
    font-size:1.6em;
    top: -.11em;
    left: -.46em;
}
.popup_subscribe .icon-logo-veryyou {font-size: .7em;}
.email_form01 {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 254px;
    margin-top: 2.6em;
}
#email_form2 .error-subscribe {
    position: absolute;
}
.email01 {
    background:transparent;
    outline: 0;
    border: 0;
    border-bottom:1px solid #fff;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 300;font-size: .75rem;
    width: 100%;
    letter-spacing: .1em;
    padding-bottom: .6em;
    position: relative;
}
#btnNewletter {
    position: absolute;
    top: .2em;
    right: -1.3em;
    font-size: .9em;
    /* background: #efbdb7; */
    bottom: .1em;
    padding-bottom: .8em;
}
input.email01::-moz-placeholder {
  color:#fff;
  text-align:center;
}
input.email01::-webkit-input-placeholder {
  color:#fff;
  text-align:center;
  text-indent:-1.6em;
}
input.email01:-ms-input-placeholder {
  color:#fff;
  text-align:center;
}
/*
@keyframes fadefade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
*/
@keyframes fadefade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  63% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.style03, .style04, .style01,.style01a {
  /*animation-timing-function: unset;
  animation-timing-function: ease-in-out;*/
  -webkit-animation-name: fadefade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  animation-name: fadefade;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.style03, .style04 {
  animation-delay: -2.5s;
}
@media (min-width: 375px) {
    .popup_subscribe .modal-dialog {
        /* max-width: 95%; */
    }        
}
@media (min-width: 768px) {
    .popup_subscribe .modal-dialog {
        /*max-width:560px;*/
        width: auto;
    }
    .popup_subscribe .popup-default-content {padding: 7em 3.3em 5em}
    .style03 {
      /* padding:1em 0; */
      /* line-height: 1.3em; */
    }
}
@media (min-width: 1024px) {
    .popup_subscribe .modal-dialog {
        /*max-width: 520px;*/
        /* max-width: 278px; */
        /* max-width: 640px; */
        max-width: 688px;
        width: 100%;
    }
}
@media (min-width: 1600px) {
    .popup_subscribe .modal-dialog {
        /* max-width: 335px; */
    }
}