.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.block-new-arrivals>div {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 40.66666667%;
}
.col-xs-2 {
    width: 16.66666667%;
}
@media (min-width: 992px) {
	.col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 32.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
}
.form-group>label {
    margin-bottom: .6em;
    display: inline-block;
}
.section-shopping-cart,
.returns h4.row .txt-right {
    text-align: left;
}
.description {
    text-align: left!important;
    line-height: 2em;
}
.cart-item > div span, .cart-wrap .detail, .cart-wrap .tag {
    display: block;
    word-spacing: .2em;
    text-align:  left;
}/*7538*/
.cart-item a, .cart-wrap .product-title {
    font-size: .8125rem;
}/*7554*/
.btn-order-search {
    height: 1.6em;
    width: 1.6em;
    line-height: 1.4em;
    transition: .3s;
    position: relative;
    top: -.1em;
    font-size: 1.7em;
}/*7912*/
input[type='checkbox'] + label {
    position: relative;
    display: inline-block;
    margin: 0 0;
    align-items: center;
    padding: 0;
    /* transition: color 250ms cubic-bezier(.4, .0, .23, 1); */
    width: auto;
    font-style: normal;
    cursor: pointer;
    line-height: 1.4em;
    font-size: 12px;
    color: #888;
}/*7951*/
input[type='checkbox'] + label > span {
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: .4em;
    width: 1.3em;
    height: 1.3em;
    background: transparent;
    border: 1px solid #9E9E9E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
    float: left;
}/*7965*/
input[type='checkbox']:checked + label > span:before {
    content: '';
    position: absolute;
    top: .2em;
    left: -.05em;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
    top: .4em;
    left: .2em;
}/*8008*/
input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label {
    color: #333;
}/*8019*/
input[type='checkbox']:checked + label > span {
    border-color: #888;
    background: #888;
    box-shadow: none;
}/*8023*/
.cart-item-list {
    clear: both;
    padding: 1em 0;
    border-bottom: 1px solid #efefef;
    width: 100%;
    overflow:  hidden;
}/*8312*/
.section-invoice .cart-wrap div > div {
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}/*8333*/
.section-invoice .form-group div.comment1 {
    width: 30%;
    max-width: 80px;
    display: inline-block;
}
.section-invoice .form-group div.comment2 {
    white-space: normal;
    text-overflow:  unset;
    text-align: left!important;
    overflow:  visible;
    display: inline-block;
    width: 70%;
}
.cart-wrap .block {
    padding-top: 1em;
    padding-bottom: 1em;
}/*8338*/
.cart-wrap .on-sale, .cart-wrap .retail, .cart-wrap .order-detail {
    display: block;
    font-weight: normal;
    font-size: .8125rem;
}/*8344*/
.cart-title > div:last-child div:last-child {
    text-align: right;
}/*8389*/
.cart-description, .sales-description {
    margin: 1em 0;
    padding-right: 2em;
    color: #666;
    font-size: .75rem;
    vertical-align: top!important;
}/*8397*/
.cart-description span, .sales-description span {
    padding-left: 1em;
    text-indent: -1em;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    display: block;
    font-family: inherit;
    line-height: 1.9em;
    top: -1em!important;
    font-weight: 300;
}/*8412*/
.cart-wrap h4 {
    text-align: left;
    background: #f7f7f7;
    margin: 0;
    padding: 1em;
    letter-spacing: .1em;
    font-weight: normal;
}/*8489*/
.section-country h3, .section-delivery h3, .section-shipping h3, .section-coupon h3, .section-return-method h4, .section-return-info h4 {
    border-bottom: 2px solid #555;
    padding-bottom: .4em;
    margin-bottom: 0;
    font-size: 1rem;
}/*8515*/
.cart-description .icon-play-big {
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.6, 0.6);
    transform-origin: 0;
    width: 4px;
    height: 8px;
    margin-left: .6em;
    display: inline-block;
    color: #aaa;
}
.section-delivery .cart-description, .section-shipping .cart-description, .returns .cart-description {
    padding-top: 1.5em;
    border-top: 1px dotted #e0e0e0;
}/*8547*/
.section-delivery .cart-description, .section-notice, .section-shopping-cart {
    overflow: hidden;
}/*8558*/
.section-shopping-cart.returns {
    margin-top: 1em;
}
.section-shipping .form-group label, .section-coupon .form-group label, .section-member-detail .form-group label, .section-member-pws .form-group label {
    /* float: left; */
    margin-bottom: 5px;
    display: inline-block;
}/*8690*/
.section-invoice {
    margin-top: 1em;
    border-bottom: 1px solid #d2d2d2;
    border: 0;
    overflow: hidden;
}/*8873*/
.section-invoice h4 span {
    display: inline-block;
    margin: .3em 0;
}/*8877*/
.cart-wrap .row {
    padding: 10px 0;
}/*8880*/
.cart-item-list>div {
    height: auto;
}/*424*/
.cart-wrap .cart-item-list {
    padding: 0 10px;
}/*427*/
.cart-wrap .block {
    padding-right: 3px;
    padding-left: 3px;
}/*439*/
.cart-wrap .order-detail,
.touchevents .orders .returns .cart-item-list .block:nth-child(2)>div:first-child span,
/*.no-touchevents .cart-wrap .cart-item-list >div:last-child span,*/
.orders .returns .cart-item-list div>div:nth-child(3)>span {
    text-align: right;
}/*1197*/
.no-touchevents .orders .returns .cart-item-list .block:nth-child(2)>div:first-child span,
.no-touchevents .returns .cart-title > div:last-child div:last-child {
    text-align:center;
}
.section-invoice .form-group, .section-shopping-cart.order-list .row div div, .cart-wrap .order-detail {
    border-bottom: 1px solid #efefef;
    padding-bottom: .5em;
    margin: 1em 0 0;
}/*1206*/
.section-invoice .form-group div:nth-child(2) {
    text-align: right;
}/*1569*/
.section-invoice .form-group div {
    width: 50%;
    display: table-cell;
    vertical-align: top;
}/*1583*/
.cart-wrap .cart-item-list >div:last-child span {
    text-align:  left;
}
.orders .cart-item-list div>div:nth-child(3)>span,
.orders .cart-item-list .block:nth-child(2)>div:first-child span {
    text-align:  left;
}
.orders .cart-item-list div>div:nth-child(3)>span:before,
.orders .cart-item-list .block:nth-child(2)>div:first-child span:before {
    display:block;
    float: none;
    margin-bottom:  .3em;
}
.block > [class*="col"] {
    padding-left:5px;
    padding-right:5px;
}
.cart-wrap .retail:before, .cart-wrap .btn-delete:before, .cart-wrap .order-detail:before,
.orders .returns .cart-item-list .block:nth-child(2)>div:first-child span:before,
.orders .returns .cart-item-list div>div:nth-child(3)>span:before {
    float: left;
}/*1183*/
.order-list .cart-wrap .description .tag, .tag.order-detail.txt-left {
    text-align: left;
}/*1190*/
.form-group {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: .875rem;
}
.section-invoice .form-group {
    display: table;
}/*1580*/
.warning1 {
    border: 1px solid #313131;
    width:  100%;
    padding:1em;
}
.promote-act {
    letter-spacing:  0;
}
.warning1 span {
    text-align: left!important;    
}
.warning1 .icon-notice_l {
    font-size: 2.5em;
    text-align: center!important;
    width:  100%;
    margin-bottom: .3em;
}
.orders h1 {
    text-align: center;
    padding: .7em 0 .2em;
}
.code-wrapper1, .code-wrapper2 {
    border: 3px solid #262626;
    padding: .6em;
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
    word-break: break-all;
}
.code-wrapper1 {
    border-bottom: 0;
    margin-top: 1em;
}
.code-wrapper2 {
    background: #262626;
    color: #fafafa;
    font-size: 1.1rem;
    letter-spacing: .06em;
    margin-bottom: 2em;
}
.orders .section-shopping-cart .cart-wrap {
    background: #efefef;
    padding: 10px 10px;
}
.orders .cart-wrap {
    padding:0 10px;
    overflow:  hidden;
}
.orders .cart-item-list {
    background:#fff;
    padding: 0;
    margin: .5em 0 2em;
}
.orders .cart-item-list {
    border-bottom: 7px solid #efefef;
}
.txt-ibon {
    width: 100%;
    color:  #999;
    text-align:  center;
}
.btn-faq {
    margin: 1em auto;
}
.section-notice {
    padding:0 15px;
}
.returns span.tag.order-detail.chk-wrap {
    position:  absolute;
    top: 2em;
    left: 2em;
    z-index:  5;
    border:  0;
}
.returns .col-md-9 span.tag.order-detail.txt-left {
    padding: 0 0 1em 5em;
}
.reasonType+.form-group {
    margin-top:5px;
    margin-bottom:0;
    width:  100%;
}
.form-group .clear_input_div {
    width:100%;
}
.returns h4.row {
    padding: 5px 15px 5px 15px;
    min-height: 45px;
    background: #f4f4f4;
}
.section-return-info fieldset {
    padding: 1em 3em;
    border-top: 2px solid #555;
    outline:  0;
}/*9031*/
ul.li_list, .section-return-info ul.li_list {
    list-style-type: none;
    padding-left: 1em;
    position: relative;
}/*9674*/
ul.li_list li:before {
    content: "";
    border-radius:50%;
    padding-right: 0;
    left: -.8em;
    position: absolute;
    top: -.1em;
    font-size: 1.25rem;
}/*9679*/
.section-return-info ul.li_list li:before {
    content: "";
    border-radius:50%;
    background:#999;
    display:block;
    color: #999;
    width:4px;
    height:4px;
    top: .6em;
}/*9687*/
.orders .total-amount, .orders .total-txt {
    float: none;
}
.total-wrap {
    text-align:  center;
    margin:  1em 0 0;
}
.section-return-method, .section-return-info {
    padding: 15px;
    text-align:  left;
}
.section-return-method .img-ibon {
    position:relative;
    left:-30px;
    border:1px solid #cdcdcd;
    border-radius:3px;
}
.section-return-method h4 {
    margin-bottom:25px;
}
.section-return-info h4 {
    border:0;
}
.section-return-info .btn-checkout {
    max-width: 150px;
}
.row.v-align img {
    width: 100%;
}
.returns hr.hr4 {
    position: relative;
    margin-bottom: 2.8em;
}
.checkout, .orders {
    visibility: visible!important;
}
@media (min-width: 1024px) {
    .member_login .front .form-group {
        margin: 2em 0;
    }
	.mh992 {
        display: block;
    }
    .section-return-info fieldset {
        padding: 3em 5em;
    }
    .returns .order-detail,
    .orders .cart-title>div:last-child div:last-child {
        text-align: center;
    }
    .orders .section-shopping-cart .cart-wrap {
        background: #fff;
    }
    .total-wrap {
        text-align: right;
    }

    .cart-title.v-align.mh992 .col-md-4 {
        overflow: hidden;
        max-height: 47px;
    }
    .returns h4.row {
        background: none;
        padding: 0 8px;
        min-height: 28px;
    }
    .returns h4.row .txt-right {
        text-align: right;
    }
    .returns span.tag.order-detail.chk-wrap {
        position: relative;
        top: unset;
        left: unset;
    }
    .returns .col-md-9 span.tag.order-detail.txt-left {
        padding: 0;
    }
    .btn-faq {
        margin: 0 auto;
    }
    .orders .cart-item-list>div {
        height: 50px;
    }/*9324*/
    .warning1 .icon-notice_l {
        width: auto;
        margin-top: .3em;
    }
    .section-invoice .form-group div:nth-child(2),
    .section-invoice .v-align div {
        text-align: left;
    }
    .section-invoice .form-group div {
        width:auto;
    }
    .section-invoice .form-group {
        display: block;
        padding-bottom: 1em;
    }
    .orders .cart-item-list {
        min-height: 100px;
        padding: 1em 0 1em;
        border-bottom: 1px solid #efefef;
    }
    .cart-wrap .order-detail {
        margin-top: 0;
    }
    .orders h1 {
        padding: 0 0 1em;
    }
    .orders .cart-title {
        background: #efefef;
        /* padding: 8px 0; */
        height: 47px;
        line-height: 47px;
    }
    .section-shopping-cart.orders {
        background: none;
        z-index: 5;
    }
    .section-shopping-cart.order-list .row div div,
    .cart-wrap .order-detail {
        border: 0;
    }
    .form-group {
    	position: relative;
    	margin-top: 25px;
    	margin-bottom: 20px;
    }
    .form-group.block-edit-tel {
    	margin-bottom: 0;
    }
    .form-group.block-edit-mobile {
    	margin-top: 0;
    }
    .cart-wrap .btn-delete:before,
    .cart-wrap .retail:before,
    .cart-wrap .cart-qty:before,
    .cart-wrap .order-detail:before {
        content: none;
    }
    .section-invoice .v-align {
        display: block;
    }
}