/*@font-face {
  font-family: 'veryyou';
  font-display: block;
  src:  url('https://fatboonbo.github.io/fatboonbo/veryyou/css/fonts/veryyou.eot#iefix') format('embedded-opentype'),
        url('https://fatboonbo.github.io/fatboonbo/veryyou/css/fonts/veryyou.eot') format('eot'),
        url('https://fatboonbo.github.io/fatboonbo/veryyou/css/fonts/veryyou.woff2') format('woff2'),
        url('https://fatboonbo.github.io/fatboonbo/veryyou/css/fonts/veryyou.woff') format('woff'),
        url('https://fatboonbo.github.io/fatboonbo/veryyou/css/fonts/veryyou.ttf') format('truetype'),
        url('https://fatboonbo.github.io/fatboonbo/veryyou/css/fonts/veryyou.svg#veryyou') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}*/
@font-face {
  font-family: 'veryyou';
  font-display: block;
  src:  url('fonts/veryyou.eot#iefix') format('embedded-opentype'),
        url('fonts/veryyou.eot') format('eot'),
        url('fonts/veryyou.woff2') format('woff2'),
        url('fonts/veryyou.woff') format('woff'),
        url('fonts/veryyou.ttf') format('truetype'),
        url('veryyou.svg#veryyou') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
[class^="icon-"], [class*=" icon-"], [class^="icon-"]:before, [class*=" icon-"]:after, .error-msg:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'veryyou';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: inherit;
  position: relative;
  background: transparent;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {content:'';min-height:27px;}

.icon-earth:before {
  content: "\e91d";
}
.icon-heart-o:before {
  content: "\e902";
}
.icon-wishlist:before {
  content: "\e90c";
}
.icon-hanger:before {
  content: "\e90f";
}
.icon-truck:before {
  content: "\e910";
}
.icon-logo-handwritten:before {
  content: "\e90e";
}
.icon-notice_l:before {
  content: "\e91c";
}
.icon-dashdash:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e946";
}
.icon-spinner11:before {
  content: "\e921";
}
.icon-play-big:before {
  content: "\e91f";
}
.icon-minus:before {
  content: "\e91a";
}
.icon-arrow-left2:before {
  content: "\e931";
}
.icon-arrow-right2:before {
  content: "\e932";
}
.icon-logo-veryyou:before {
  content: "\e909";
}
.icon-tote:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e929";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e963";
}
.icon-user3:before {
  content: "\e900";
}
.icon-arrow3-left:before {
  content: "\e901";
}
.icon-arrow3-right:before {
  content: "\e903";
}
.icon-letter3:before {
  content: "\e904";
}
.icon-refresh:before {
  content: "\e934";
}
.icon-help-with-circle:before {
  content: "\e93e";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-account:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-line:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e911";
}
.icon-angle-left:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e915";
}
.icon-chevron-thin-down:before {
  content: "\e916";
}
.icon-instagram4:before {
  content: "\e918";
}
.icon-heart2:before {
  content: "\e919";
}
.icon-angle-right:before {
  content: "\e91b";
}
.icon-plus:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e91e";
}
@font-face {
  font-family: 'Playfair Display';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlZ5qg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inconsolata/v16/QldXNThLqRwH-OJ1UHjlKGHiw71p5_w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
