/* index */
.section-imbest, .section-top-best, .section-best-dress {
    border-bottom: 1px solid #efefef;
    padding-bottom: 1em;
}
.section-index-news.wrapper {
    padding: 15px;
}
.news_container_wrap {
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 1em;
    overflow: hidden;
}
.news_container_wrap .title {
    font-size: 1.3125rem;
    text-align:  center;
    font-weight:  bold;
}
.news_container_wrap p {
    margin:.4em 0;
}
.news_container_wrap .blink {
    display:inline-block;
}
.section-index-news {
    visibility: visible;
    opacity: 1;
}
.index-main h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2em 0;
    -webkit-transform: scale(1.1, 1);
    -moz-transform: scale(1.1, 1);
    -ms-transform: scale(1.1, 1);
    -o-transform: scale(1.1, 1);
    transform: scale(1.1, 1);
}
.section-product-showcase .p-item {
    margin-bottom: .8em;
}
.section-product-showcase .p-item figcaption {
    text-align:left;
}
.section-product-showcase figcaption>div {
    /* float: left; */
    display:  inline-block;
    position:  relative;
}
.section-product-showcase figcaption>div.title {
    max-width:100%;
    display:  block;
}
.section-product-showcase .on-sale {
    margin-right: 0;
    margin-left: 6px;
}
.section-product-showcase .p-item a {
    left: 30px;
    background: rgba(255,255,255,0);
}
.section-product-showcase .on-sale {
    margin-left:3px;
}
span.discount {
    padding: 1px 2px;
    font-size:  .625rem;
    border:1px solid #313131;
    border-radius: 4px;
    letter-spacing: 0;
    border:0;
    background:#313131;
    color: #fff;
    position: absolute;
    width: 30px;
    text-align:  center;
    top: -10px;
    right: -3em;
}
/*
.section-index-news.wrapper {
    visibility: visible!important;
}
*/
/* act */
.section-category-banner {display: block}
.section-act {
    padding: 0 15px;
    width: 100%;
    margin: 5em 0 3em;
    overflow: hidden;
    position: relative;
    margin: 3em 0 .1em;
    background-color: #fafafa;
}
.section-category-banner .alink:hover:after,.section-category-banner  .alink.underline:after,.section-category-banner .alink.selected:after {
    content:none;
}
.section-act img, .section-category-banner img {
    width:100%;
}
.section-category-banner {
    background:  #f7f7f7;
    padding: 1em 0;
    margin: 1em auto;
}
.section-showcase {
    margin-left:-12px;
    padding: 0 12px;
    width: auto;
}
.section-category-banner .container {
    width:50%;
    float:left;
    padding-left: 12px;
    padding-bottom: 15px;
}
.section-category-banner h1 {
    font-family:arial;
    text-transform:uppercase;
    color:#4c4c4b;
    font-size:1rem;
    display:block;
    margin: 0 auto .5em;
    max-width:130px;
    text-align:  center;
}
a.tow-links, a.one-link {
    position: absolute;
    height:  100%;
    z-index:  9;
    top:0;
    font-size:  0;
}
a.one-link {
    width:100%;
    left: 0;
    right: 0;
}
a.tow-links {   
    left:0;
    width: 50%;
}
a.tow-links:nth-child(3) {
    left:auto;
    right:0;
}
svg:not(:root) {
    overflow: hidden;
}
.btn-see-more {
    background:  none;
    display:  block;
    clear:  both;
    width: 73px!important;
    margin: 0 auto;
    top: 12px;
    /* border: 1px solid #efefef; */
    /* padding:5px; */
    text-transform:  uppercase;
    font-size: .75rem;
    word-spacing:  -2px;
}
.btn-see-more i {
    left: auto;
    top: .3em;
    position:  absolute;
    right: -1.5em;
    margin: 0;
}
.index-main section .wrapper {visibility: visible; opacity: 1}
.carousel-instagram {
    margin-left: -5px;
}
.section-instagram.wrapper {
    max-width:1080px;
    margin-bottom: 5em;
    padding: 0 2em;
}
.index-main .section-instagram h2 {
    font-size: 3rem;
    text-transform: lowercase;
    font-weight:  normal;
    margin: 1em 0 .5em;
}
.section-instagram h2 i {
    color:rgba(94, 89, 87, .66);
    position:  absolute;
    left: -.8em;
    font-size: .6em;
    bottom: .5em;
}
.section-instagram .slick-prev.slick-arrow {
    left: -56px;
}
.section-instagram  .slick-next.slick-arrow {
    right: -56px;
}
.section-instagram .slick-arrow {
    top: 42%;
}
.section-instagram .slick-arrow:after {
    border-color: #d6d6d6;
    width: 36px;
    height: 36px;
    transition: .18s;
    border-width:3px;
}
.section-instagram .slick-disabled {
    cursor:default;
}
.section-instagram .slick-arrow:hover:after {
    border-color:#999;
}
.section-instagram .slick-disabled:after, .section-instagram .slick-disabled:hover:after {
    border-color: #efefef;
}
.hover_txt {
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:  2;
    text-align:  center;
    bottom: 0;
    overflow:  hidden;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity:  0;
}
.no-touchevents .block-instagram:hover .hover_txt {
    opacity:1;
    -webkit-transform: translateX(29%);
    -ms-transform: translateX(29%);
    transform: translateY(29%);
}
.hover_txt>i, .hover_txt>div {
    margin: .3em 0;
    /* top: 1em; */
}
.hover_txt>i {
    transition-delay: 2s;    
}.hover_txt i {
    color:#fff;
    font-size:1.4375rem;
    display: inline-block;
    width: 100%;
}
.block-instagram {
    overflow: hidden;
    margin: 0 0 .5em;
    width: 25%;
    float: left;
    padding-left: 5px;
    background-color: #fafafa;
    height: 0;
    padding-bottom: 100%;
    z-index: 1;
}
.ig-name {
    color:  #fff;
    text-align:  center;
    font-size:.9375rem;
}
.btn.btn-ig {
    border:1px solid #fff;
    color:#fff;
    width: auto;
    margin: 0 auto;
    font-size:.75rem;
    font-family:arial;
    padding: .5em 1.3em .4em;
    height:  auto;
    line-height: inherit;
    display:  inline-block;
    transition:  .12s;
    font-family:  'Gill Sans Mt', 'Gill Sans';
}
.no-touchevents .block-instagram img {
    transition: .4s;
    /* max-height:  171px; */
}
.no-touchevents .block-instagram a:hover img {
    opacity: 1;
    transform: scale(1.06);
    backface-visibility: hidden;
}
.section-instagram div.slick-slide:last-child>div:last-child:after {
    background: #fff;
    position:absolute;
    content:'\e918';
    z-index: -1;
    color: #d6d6d6;
    font-size:3em;
    left: 40%;
    top: 45%;
    clear:  both;
}
.section-instagram div.slick-slide:last-child>div:last-child {
    /* height: 100%; */
    display:  block;
    /* width: inherit; */
    position: relative;
    background: #fff;
    z-index: 1;
    min-height: 125px;
}
.section-instagram {visibility: visible!important;}
@media (min-width: 768px) and (max-width: 1023px) {    
    .block-instagram {
        width:50%;
        float:left;
    }
}
@media (min-width: 1024px) {    
    .section-imbest, .section-top-best, .section-best-dress {
        border:none;
    }
    .section-index-news.wrapper {
        margin: 0 auto;
        padding: 15px 0;
        width: 100%;
        /* max-width: 100%; */
    }
    .news_container_wrap.wrapper {
        max-width: 1260px;
        overflow: hidden;
        width: 90%;
    }
    .news_container_wrap {
        /* border:0; */
        padding: .6em 1em .2em;
    }
    .news_container_wrap .title {
        display:inline-block;
        font-size: 1.25rem;
    }
    .news_container_wrap p {
        float: right;
        width: 88%;
        font-size: .9375rem;
    }
    .index-main h2 {
        font-size: 3.125rem;
        margin: 1em 0 1.5em;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .index-main .section-imbest h2 {
        margin:1.3em 0 1.5em;
    }
    .section-product-showcase {
        margin-left: -30px;
    }
    .section-product-showcase .p-item:nth-child(n+5) {
        margin-top: 2.5em;
    }
    .section-product-showcase .p-item {
        width:25%;
        padding-left: 30px;
        margin-bottom: 1.5em;
    }
    .section-product-showcase .p-item figcaption {
        position:absolute;
        bottom: 0;
        margin: 0;
        background: rgba(0,0,0,.9);
        color:  #fff;
        right: 0;
        left: 30px;
        padding: 10px 10px 10px;
        line-height: 1.5em;
        z-index:  10;
        opacity:  0;
        transition: all .3s ease;
    }
    .section-product-showcase .p-item:hover figcaption {
        opacity:1;
    }
    .section-product-showcase .p-item figcaption div {
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        transform: translateY(100%);        
    }
    .section-product-showcase .p-item:hover figcaption div {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);        
    }
    .section-product-showcase .p-item figcaption .title {
        border:0;
        padding-bottom:  .3em;
    }
    .section-product-showcase .p-item figcaption div:nth-child(2) {
        width: 58%;
    }
    .section-product-showcase .p-item figcaption div:nth-child(3) {
        width: 10%;
        float:right;
    }
    .section-product-showcase .p-item figcaption div:not(:nth-child(3)) {
        text-align:left;
    }
    .section-product-showcase .retail {
        color:#d6d6d6;
    }
    .section-product-showcase .on-sale ~ .retail {
        margin-right:5px;
    }
    .section-product-showcase span.discount {
        background:transparent;
        border:1px solid;
        border-radius:0;
        padding: 4px 5px;
        letter-spacing:.05em;
        top: -9px;
        right: 0;
        width:  38px;
    }
    /* act */    
    .section-category-banner img {
        width: auto;
    }
    .section-act {
        margin: 10em 0 7em;
        height: 0;
        padding-bottom: 51.180327%;
        /* padding-bottom: 61.475%; */
        margin: 5em 0 .6em;
    }
    .section-act:first-child {margin-top: 4em;}
    .section-act:nth-child(2) {padding-bottom:61.475409%;}
    .act-best-dress {
        /* margin: 3em 0 0; */
    }    
    .btn-see-more {
        display:block;
        right: 25px;
        margin: 0;
        left: auto;
        float: right;
        top: -8px;
        width: auto!important;
        font-size:  .9375rem;
    }
    .btn-see-more i {
        right: -1.6em;
    }
    .section-category-banner .container {
        width: 25%;
        padding: 0 15px;
        text-align:  center;
        overflow:  hidden;
        position:  relative;
    }
    .section-category-banner .container img {
        opacity:1;
        transition: opacity 1.3s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .section-category-banner .container:hover img {
        opacity:.8;
    }
    .section-showcase {
        margin: 0 12px;
    }
    .section-showcase.wrapper {
        margin:0 auto;
    }
    .section-category-banner {
        padding: 1.5em .5em 3em;
        margin-top: 2em;
        height: 0;
        padding-bottom: 38.37%;
    }
    .section-category-banner h1 {
        margin-bottom: 1.6em;
    }
    .section-category-banner {/* padding-bottom:29%; */}
    .index-main .section-instagram h2 {
        font-size: 3.9375rem;
        margin: .6em 0;
    }    
    .section-instagram.wrapper {
        padding:0;
        max-width:992px;
        overflow:  visible;
    }
    .block-instagram {
        margin: 0;
        padding: 0;
        float: none;
        padding-bottom: 100%;
    }
    .section-instagram .slick-slide {
        padding: 0 .3em;
        overflow:  hidden;
    }
    .no-touchevents .block-instagram a:hover .filter-mask {
        background: rgba(0, 0, 0, .85);
    }
}
@media (min-width:  1168px) {   
    .section-product-showcase .p-item figcaption div:nth-child(2) {
        width: 100%;
        max-width:  129px;
    }
    .section-product-showcase .p-item figcaption div:nth-child(3) {
        right:0;
    }
}
@media (min-width: 1330px) {
    .section-instagram.wrapper {
        max-width: 900px;
    }   
}
@media (min-width: 1600px) {
    .index_main .section-category-banner {
        padding-bottom: 38%;
    }
}