@charset "utf-8";
/* line helper */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 59, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 176, 59, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 176, 59, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 176, 59, 0.4);
    box-shadow: 0 0 0 0 rgba(20, 176, 59, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 176, 59, 0);
      box-shadow: 0 0 0 10px rgba(0, 176, 59, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 176, 59, 0);
      box-shadow: 0 0 0 0 rgba(0, 176, 59, 0);
  }
}
.pulse {
  border-radius: 50%;
  background: #00b03b;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
.line-helper {
    opacity: 0;
    border-radius: 25px;
    max-height: 445px !important;
    height: calc(100% - 60px) !important;
    min-height: 220px !important;
    width: 315px;
    position: fixed;
    right: 36px;
    bottom: 0;
    margin: auto;
    z-index: 10000;
    transform: translateY(-80px);
    transition:.4s;
    visibility: hidden;
}
.active .line-helper {
    opacity:1!important;
    visibility:visible!important;
}
.active #button_line:before {
  bottom:2px;
  right:1px;
}
.active #button_line {box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}

.line-helper .line-helper-logo {
    position: absolute;
    left: 0;
    top: -50px;
    right: 0;
    margin: auto;
    width: 101px;
    height: 50px;
    background: transparent;
    z-index: 12;
}
.half {
    margin: auto;
    width: 80px;
    height: 40px;
    background-color: #fff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom: 0;
    box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
    -webkit-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
    -moz-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
}
.circle {
    display: block;
    width: 80px;
    height: 80px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size:12px;
    text-align:center;
    border-radius: 99em;
    border: 3px solid #fff;
    background: #000;
    color: #fff;
}
.circle .icon-logo-veryyou {
    transform: scale(0.9,0.9);
    display: block;
    transform-origin:center;
    line-height: 78px;
}
.line-helper-footer {
    flex: 0 1 46px;
    position: absolute;
    bottom: 0;
    background: #fff;
    padding-top: .6em;
}
.line-helper-footer h2 {
    border-radius: 20px;
    height: 36px;
    line-height: 15px;
    border: 1px solid #efefef;
    width: 86%;
    background: #fff;
    margin: 2px auto;
    padding: 10px;
    position: relative;
    overflow:hidden;
    font-size:16px;
    font-family:"Microsoft JhengHei";
    text-align: center;
    /* text-transform: uppercase; */
    top: -1px;
    letter-spacing: .05em;
}
.line-helper-footer p {
    font-size: 13px;
    font-family: Arial,MingLiu,"Microsoft JhengHei";
    text-align: center;
    width:100%;
    padding: 0 1.5em;
    margin: .5rem 0;
}
.line-green {color: #009600;font-weight: 700;}
.line-helper-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #777;
    padding-top: 50px;
    padding-bottom: 5px;
    background-color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.line-helper-title h1, .line-helper-title h2 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.line-helper-title h2 {
    /* color: rgba(255, 255, 255, .8); */
    font-size: 11px;
    letter-spacing: 1px;
}
h2.poweredby {font-family:Roboto, arial;font-size:12px;transform: scale(0.9,0.9);}
.poweredby .icon-logo-veryyou {
    transform: scale(0.84,0.84);
    display:inline-block;
    transform-origin:left;
}
.messages {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow: auto!important;
  overflow-x: hidden !important;
  padding-top: 2em;
}
.no-touchevents .messages:after {
  content:'';
  background-image:url("images/bg-line-helper.svg");
  position: absolute;
  z-index: -1;
  top: 0;
  opacity:0.1;
  left: 0;
  bottom: 0;
  right:0;
  height: 100%;
}
.no-touchevents .active .messages:after {  
  -webkit-animation: colourFade 15s ease infinite;
  animation: colourFade 15s ease infinite;
  background-color: linear-gradient(232deg, #EFBDB7, #8da4d0, #EFBDB7);
}
.no-touchevents .messages>div {margin:0 auto;max-width: 190px;border:1px solid #ccc;}
.line-helper-title-wrap {
    position: relative;
    width: 100%;
    height: calc(100% - 15px);
    max-height: 500px;
    z-index: 10;
    overflow: hidden;
    /* box-shadow: 0 5px 30px rgba(0, 0, 0, .2); */
    /* background: rgba(0, 0, 0, .5); */
    background: transparent;
    border-radius: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #efefef;
}
.line-helper button.close {
    top: .8em;
    z-index: 99;
}
@-webkit-keyframes colourFade {
  0% {
    background-position: 0 76%;
  }
  50% {
    background-position: 230% 25%;
  }
  100% {
    background-position: 0 76%;
  }
}
@keyframes colourFade {
  0% {
    background-position: 0 76%;
  }
  50% {
    background-position: 230% 25%;
  }
  100% {
    background-position: 0 76%;
  }
}
@media (min-width: 768px) {  
    .active #button_line>i {
      transform: rotate(270deg);
      margin-left: -1px;
      margin-top: -2px;
    }
    .active #button_line>i:before {
        line-height:1.95em;
        content:'\e915';
    }
}