.carousel-index-banner-bind {
    height: 0;
    padding-bottom:126.625%;
    overflow:hidden;
}
.section-banner {
  webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  cursor: default;
}
.carousel-index-banner-bind .alink:after {
    content:none;
}
.nav-header-member [class^="icon-"]:before, .nav-header-member [class*=" icon-"]:after {
  display: inline-block;
}
.alink, .blink {
    position: relative;
    /* display:  inline-block; */
    width:  auto;
}
.alink,.blink {
    color:inherit;
}
.alink:hover:after, .alink.underline:after, .alink.selected:after,
.blink:after, .blink.underline:after, .blink.selected:after {
    content:'';
    background-color: rgba(0,0,0,.22);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition:.12s;
}
.alink.member-pop.selected:after,
.logo .alink.selected:after,
.logo .alink:hover:after {
    content:none;
}
.blink:hover:after {
    background-color: rgba(0,0,0,.55);
}
.blink i {
    margin-left: -5px;
    margin-right:  5px;
}
/* font */
.font11 {
  font-size: .6875rem;
}
.font12, .column-product-description {
  font-size: .75rem;
}
.font13 {
  font-size: .8125rem;
}
.font14 {
  font-size: .875rem;
}
.font15 {
  font-size: .9375rem;
}
.font20 {
  font-size: 1.25rem;
}
.headings {
    position: relative;
    text-align:  center;
}
/*font*/
.member_login h3, .no-result, .headings-recommend>span, .headings-recommend>span, h2, .news_container_wrap .title  {
    font-family: /*'Playfair Display',*/Times, 'PingFang TC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Helvetica Neue', serif, sans-serif;
}
.wf-active .member_login h3,
.wf-active .no-result,
.wf-active .headings-recommend>span,
.wf-active .headings-recommend>span,
.wf-active h2,
.wf-active .news_container_wrap .title  {
    font-family: 'Playfair Display', Times, 'PingFang TC', 'Hiragino Sans GB', 'Microsoft JhengHei', 'Helvetica Neue', veryyou1, serif, sans-serif;
}
.wf-active .cart-count {font-family:  Inconsolata;}
.wf-active .column-product-description .titles_v h2 {font-family: Inconsolata, MingLiu;}
/**/
.column-product-description .titles_v h2 { font-family: 'Courier New'/*Inconsolata*/, Times, MingLiu }
.cart-count {font-family:  'Courier New'/*Inconsolata*/;}

.btn, .member-status h2, .accordion-account, .steps, .headings>span {
    font-family: sans-serif, 'Hiragino Sans GB', 'Microsoft JhengHei';
}
.section-slogan i {
    font-family: veryyou, 'Hiragino Sans GB', 'Microsoft JhengHei', sans-serif;
}
.headings>span:before,
.section-instagram div.slick-slide:last-child>div:last-child:after,
.headings-recommend>span:after,
.expand .accordion-faq .icon-chevron-down:before,
.btn-subscribe-wrapper:after,
.block-p02 .txt-right>a:before,
a.glyphicon.glyphicon-chevron-left, a.glyphicon.glyphicon-chevron-right,
.big-play-button:before, .small-play-button:before {font-family:veryyou;}



.carousel-index-banner {width:100%;height: auto; display:none;}
.carousel-index-banner>a:not(:first-child),
.block-tips>figure:nth-child(n+4),
.carousel-editors-pick-big> span:not(:first-child),
.carousel-index-banner-bind>a:not(:first-child),
.carousel-index-banner-bind-m>a:not(:first-child) {
  visibility: hidden;
  display:none;
}
.carousel-index-banner.slick-initialized>a:not(:first-child),
.carousel-index-banner-m.slick-initialized,
.touchevents .carousel-index-banner.slick-initialized,
.carousel-editors-pick-big.slick-initialized > span:not(:first-child),
.carousel-editors-pick-small.slick-initialized {
  visibility: visible;
  display:block;
}

.no-touchevents .carousel-instagram figure:nth-child(n+5),
.carousel-instagram-small,
.carousel-recommend,
.carousel-editors-pick-small {
  visibility: hidden;
  display:block;
  height: auto;
}
.no-touchevents .carousel-instagram.slick-initialized figure:nth-child(n+5),
.carousel-instagram-small.slick-initialized,
.carousel-recommend.slick-initialized,
.block-tips>figure:nth-child(n+4) {
  visibility: visible;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider.slick-initialized {
  background:none;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.item-thumb .slick-track {
      display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-list .slick-track.clicked {
  transition-duration: 500ms!important;
}
.slick-list .slick-track.original {
  transition-duration: 1200ms!important;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  font-size:  0;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}



/*index*/

.carousel-index-banner {
    padding-bottom: 57.4468%;
    height:  0;
    transform: rotate(0.01deg);
    overflow:hidden;
}
.secondth .carousel-index-banner,
.third .carousel-index-banner {
    padding-bottom:50.9375%;
}
.carousel-index-banner-m {
    padding-bottom: 123.625%;
    height:  0;
    transform: rotate(0.01deg);
    overflow:hidden;
}
.section-banner>div, .section-banner img {
    width:100%;
    float:  left;
}
.section-banner>.right {padding: 0 15px;}
.section-banner>.right>div {  
    overflow: hidden;  
}
.section-banner>.right>div:first-child,
.secondth .section-banner>.right>div:nth-child(2),
.third .section-banner>.right>div:nth-child(2) {
    margin-bottom: 15px;
}
.secondth .index-main h2,
.third .index-main h2 {
    text-transform:capitalize;
    /* font-family:cookie; */
    /* font-weight:normal; */
    font-family:  'Century Gothic';
}

/*
.hover_txt i, .hover_txt >div {
    position:relative;
    transition:  .4s;
}
.hover_txt i {
    top:3em;
}
.hover_txt >div:nth-child(2)  {
    top:2em;
}
.hover_txt >div:nth-child(3)  {
    top:1em;
}
.block-instagram:hover .hover_txt >div, .block-instagram:hover .hover_txt i {
    top:0;
}
*/
/*button*/
.btn-mobile,
.btn-mobile span,
.btn-mobile span:before {
    position: absolute;
}
.btn-mobile {
    width: 50px;
    height: 40px;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -60%); */
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    display: block;
    float: left;
    font-size: .6875rem;
}
.btn-mobile span {
    width: 1.6em;
    height: .2em;
    top: 50%;
    left: 50%;
    background: #262626;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear;
}
.btn-mobile span:before {
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: #808080;
    transition: all 0.3s linear;
}
.mobile-menu-open .btn-mobile:hover span::before {
  width: 100%;
  transition: all 0.3s linear;
}

.mobile-menu-open .btn-mobile .line01 {
  animation: span-first-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.mobile-menu-open .btn-mobile .line02 {
  animation: span-second-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.mobile-menu-open .btn-mobile .line03 {
  animation: span-third-on 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.line01 {
    transform: translate(-50%, -300%);
}
.line02 {
    transform: translate(-50%, -50%);
}
.line03 {
    transform: translate(-50%, 200%);
}

.cart-panel .btn {
    /* width: 49%; */
    /* float: left; */
    /* margin: 0 3px 0 0; */
}


/*
.more-sub {
    position:absolute;
    font-size: 1em;
    top: 0;
    right: 0;
    left: auto;
    -webkit-transform-origin: center 42%;
    -moz-transform-origin: center 42%;
    -ms-transform-origin: center 42%;
    -o-transform-origin: center 42%;
    transform-origin: center 42%;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.more-sub:before {
    font-size: 12px;
}
.expand .more-sub {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
*/
.cart-panel,
.mobile-menu,
.nav-header-member,
.headroom--not-top .logo, .nav-header, .checkout, .about_us, .nav-header-panel {
  webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cart-panel, .member-panel, .mobile-menu, .header, .nav-header-member, .nav-header, .modal-backdrop,.checkout, .about_us, .nav-header-panel {
  will-change: transform;
  -webkit-transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
  transition: transform .8s cubic-bezier(.19,1,.22,1);
  transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1);
}
.overlay {
  -webkit-transition: all .7s cubic-bezier(.19, 1, .22, 1);
  transition: all .7s cubic-bezier(.19, 1, .22, 1);
}

.touchevents .mlink>a{
   pointer-events: none;
   cursor: default;
}


.clear_input {
  font-size: 18px;
  transform: none;
  right: 22%!important;
  max-width:  20px;
  left: auto!important;
}
.headroom--not-top .clear_input {
    right:30%!important;
}


/*color*/
.promotion, .promotion .data-hover:before, .price .on-sale,.credit-wrap div span:last-child, .promote-act, .selQty {
    color: #CC6C7C;
}
.section-return-info ul li.txt-highlight, .cart-description span.txt-highlight, .accordion_faq ul li strong.txt-highlight, .selAmt {
    color: #AC3F52;
}
.p-num, .forget-pws, .rememberme,.member-credit-container i,.readonly {
    color: #999;
}
.outofstock, input[type='checkbox']:checked + label.credit-wrap > span+div span:last-child {
    color: #ccc;
}
.sizeul,.member-credit {
  color:#666;
}
.retail {
  color:#444;
}
.cart-description strong {
    color:#313131;
    font-weight:  bold;
}
.alink.promotion:hover:after, .promotion.selected:after,
.blink.promotion:hover:after, .blink.promotion:link:after, .blink.promotion:after {
    background-color: rgba(204, 108, 124, 0.8);
}
.warning_search::-webkit-input-placeholder {color:inherit;}
/*list style*/

.mobile-menu .accordion-content,
footer .accordion-content,
.sales-module .sort-item {
  display: none;
  /* height: 0; */
  /* overflow:  hidden; */
  /* max-height: 0; */
}

.column-menu .accordion-content {
    transition: all .9s;
    opacity: .5;
    overflow:  hidden;
    max-height: 0;    
    display:block;
}
.mobile-menu .expand .accordion-content {
  /* display:block; */
  max-height:  800px;
}
.accordion-footer, .accordion-mobile, .accordion-category {
    position: relative;
}
.list-style-nav-header {
    background: #fff;
    height: 40px;
    padding: 0 20px 0 4px;
}
.list-style-nav-header > li {
    display: inline-block;
    line-height: 40px;
    padding-left: 1.3em;
    position:  static;
}
.list-style-nav-header > li:first-child {
    padding-right: 1em;
}
.nav-header .list-style-nav-header > li:not(:first-child):not(:nth-child(2)) {
    /* padding-left: 4em; */
    padding-left: .2em;
}
.nav-header .list-style-nav-header > li:nth-child(5) {
    margin-left:-1em
}
.headroom--not-top .list-style-nav-header > li:not(:first-child):not(:nth-child(2)) {
    padding-left:0;
}
.list-style-nav-header, .block-social_footer, .list-style-nav-bottom {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.list-style-nav-header:after, .block-social_footer:after, .list-style-nav-bottom:after {
    width: 100%;
    display: inline-block;
    font-size: 0;
    content: '';
}
.list-style-account-link {
    padding: .5em 0;
}
.accordion-account {
    width:100%;
    display:  block;
    font-size: 1.1875rem;
    border: 1px solid #999;
    padding: .5em 1em;
}
.category-menu.member .accordion-content, .category-menu.about .accordion-content {
    display: none;
}
.list-style-account-link .accordion-content {
    border:1px solid #999;
    border-top:0;
    padding: .5em;
}
.list-style-account-link .accordion-content li {
    margin: 1.9em 1em;
}
.list-style-2, .list-style-3 {
    list-style-position: outside;
    margin-bottom: 25px;
    text-align: left;
    padding: 0 20px;
    font-family:  sans-serif;
}
.list-style-2 li {
    padding: 5px 0;
    list-style: decimal;
}
.list-style-3 {
    list-style-position: inside;
}
.list-style-3> li {
    padding: 5px 0;
    list-style: disc;
    line-height: 1.8em;
}
.list-style-faq > li {
    border-bottom: 1px solid #ddd;
    text-align:left;
    font-family:  sans-serif;
}
.accordion-faq {
    padding: 25px 18px;
    display:  block;
}
.panel-heading {
    padding-right: 30px;
    position: relative;
}
.list-style-faq li .accordion-content {
    /* border-top: 1px solid #ddd; */
    display:  none;
}
.expand .pull-right i,
.accordion-faq:hover .pull-right i {
    color:inherit;
}

.list-style-faq .accordion-content {
    padding: 15px 15px 35px;
    /* display:  block; */
}
.bling {
    display: inline-block;
    font-family: arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 2px;
    -ms-transform: scale(0.88);
    -o-transform: scale(0.88);
    -moz-transform: scale(0.88);
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
    animation: blinks 1s ease-out infinite alternate;
    -webkit-animation: blinks 1s ease-out infinite alternate;
}
/*animation*/
.wow {/* visibility: hidden; */}

@keyframes blinks {
  from {
    color:#fff
  }
  33% {
    color:#ccc
  }
  66% {
    color:#000
  }
  to {
    color:#fff
  }
}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(0.6);
  }
  22.65% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(0.6);
  }
  39.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-1px) scale(0.6);
  }
  55.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(2px) scale(0.4);
  }
  72.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-1px) scale(0.6);
  }
  89.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(0.6);
  }
}

@keyframes hvr-wobble-vertical {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(0.6);
  }
  22.65% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(0.6);
  }
  39.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-1px) scale(0.6);
  }
  55.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(2px) scale(0.4);
  }
  72.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-1px) scale(0.6);
  }
  89.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(0.6);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-align:  center;
  margin: 0 3px;
  max-width: 6px;
  transform: scale(0.7);
}
.hvr-wobble-vertical {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
.second-heart {
    animation-delay:.1s;
    margin-left: 0;
}
.category-menu .hvr-wobble-vertical {
    -webkit-animation-name:none;
    animation-name:none;
    margin: 0 5px 0 0;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes btn_rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
} 
@keyframes memberup {
  from {
    color:#fff;
  }
  33% {
    color:#82C35F;
  }
  66% {
    color:#a56786;
  }
  to {
    color:#fff;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.cart {
    right: 10px;
}
.account {
    right: 52px;
    top: 6px;
}
.list-style-nav-header li.wishlist,li.sign-out ,li.sign-in {
    display:  none;
}
.searchModal {
    width: 0;
    position: fixed;
    left: 0;
    top: 48px;
    overflow: hidden;
    z-index: 9999;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

/*category*/
.navHistory {
    display:block;
    float:left;
    height: 28px;
    padding-top: .8em;
    width: 30px;
    border: 1px solid #ddd;
    margin-right: 5px;
}
.navHistory i:before {
    font-size:  .75rem;
}
.navHistory+span {
    float:left;
    max-width: 79%;
}
.column-menu {
    display: none;
}
.breadcrumb.style1 li a,
.breadcrumb.style1 li {
    font-size:  0;
}
.block-filter {height: auto;padding: 12px 0;font-size:  0;overflow:  hidden;}
.product_main .block-filter {
    padding:8px 0 0;
    border-color:#fff;
    margin: 0;
}
.carousel-recommend {
    margin-left: -12px;
}
.breadcrumb.style1 li h1 {
    font-size:.75rem;
    padding-top: .5em;
    overflow:  hidden;
    white-space:  nowrap;
}
.showitemcount {
    display: none;
}

/* product list */

.section-sales-banner img {
    width:  100%;
}
.section-sales-banner {
    margin-bottom: 1em;
    margin-top: .7em;
}
.breadcrumb.style1 {
    display: inline-block;
    /* overflow:  hidden; */
    /* max-width: 70%; */
    width: 55%;
}
.zoom-image .featherlight-content,
.secondary-nav ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 0;
    padding: 0;
    background: none;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}
/*modal*/
.is-open body, .mobile-menu-open body {
  touch-action: none;
}
body.modal-open, body.modal-open header {
    padding-right: 16px!important;
}
.modal-open {
    overflow: hidden;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: all .15s ease-in-out;
}

.overlay, .modal-backdrop {
    transition: .4s;
    background: rgba(29, 29, 31, .6);
    z-index: 9990;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
.modal-backdrop {
  z-index: 199048;
}
.overlay {
    -webkit-transition: all .7s cubic-bezier(.19, 1, .22, 1);
    transition: all .7s cubic-bezier(.19, 1, .22, 1);
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.is-open .overlay, .is-open-m .overlay, .modal-backdrop.in, .is-open-sale .overlay, .mobile-menu-open .overlay {
    visibility: visible;
    filter: alpha(opacity=60);
    opacity: .6;
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 199050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: center;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: auto;
}
@-moz-document url-prefix() { 
  .modal:before {
     height: 100%;
  }
}
.modal-content {
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height:  100%;
}
.modal-content >div {
    box-shadow: 0 5px 6px 1px rgba(51, 51, 51, 0.18);
    background: #fff;
}

.returns .cart-wrap .order-detail.chk-wrap {
    text-align: center;
}

.titles_v >span {
    position:  absolute;
    text-align: center;
    top: -2.5em;
    width: 100%;
    left: 0;
    color: #999;
    font-size: .75rem;
    z-index:  8;
}
.column-main-old {
    padding: 1em 0 1.8em;
}
.mh992 {
    display:none;
}
.active .clearfix>div:not(:first-child) {
    /* float:right; */
}

@font-face {
  font-family: 'Playfair Display';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlZ5qg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inconsolata';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inconsolata/v16/QldXNThLqRwH-OJ1UHjlKGHiw71p5_w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Fira Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/firamono/v6/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
